>0.3%
last 1 Chrome version
last 1 Firefox version
last 2 Edge major versions
last 2 Safari major versions
last 2 iOS major versions
Firefox ESR
not dead
not op_mini all
not android 4.4.3-4.4.4

# https://browsersl.ist/