<div class="content">
	<div class="empty"></div>
	<div class="scene">
		<div class="shape chest-base">
			<div class="item-pivot">
				<div class="item-container">
					<div class="item" #item></div>
				</div>
			</div>
			<div class="face ft"></div>
			<div class="face lt"></div>
			<div class="face tp"></div>
		</div>
		<div class="shape chest-top">
			<div class="face ft"></div>
			<div class="face lt"></div>
			<div class="face bm"></div>
		</div>
		<div class="shape chest-knob">
			<div class="face ft"></div>
			<div class="face lt"></div>
			<div class="face bm"></div>
		</div>
	</div>
</div>