:host {
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.5);
}

:host,
.container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: none;
}

button {
	position: absolute;
	top: -40px;
	right: 0;
	width: 30px;
	height: 30px;
	border: none;
	background-color: transparent;
	user-select: none;

	&:hover {
		background-color: #AEAEAE;
	}

	&>span {
		position: absolute;
		top: 2px;
		left: 1px;
		right: 0;
		text-shadow: none;
		color: #3f3f3f;
	}
}

.container {
	margin: auto -9px -36px;
	display: flex;
	align-items: center;
	justify-content: center;

	&>.window {
		position: relative;
		background-image: url("../../../../style/images/dirt_block_dark.png");
		background-size: 48px;
		border: 54px solid;
		border-image: url("../../../../style/sprites/window_border.png") 27 repeat;
		width: 100%;
		max-width: 1100px;
		max-height: 85vh;
		background-clip: content-box;

		&>.content {
			height: 100%;
			max-height: inherit;
			overflow-y: auto;
		}
	}
}

.title {
	position: absolute;
	top: -36px;
	left: 10px;
	border: none;
	user-select: none;
	height: 2em;
	overflow: hidden;
}