<div class="positioner">
	<div class="container">
		<tbx-error-indicator></tbx-error-indicator>
		<p>An error occured while performing a required activity.</p>
		<div class="spacer"></div>
		<div class="button-container">
			<button standard (click)="reportIssue()">Report this issue on GitHub</button>
			<button standard routerLink="info" (click)="close()">Go back to starting page</button>
		</div>
		<div class="spacer"></div>
		<details>
			<summary>Click to see error details</summary>
			<pre>{{errorHandler.errorDetails}}</pre>
		</details>
	</div>
</div>