:host {
	margin: 0.5em;
	display: block;
}

tbx-sub-section {
	div {
		&:first-child {
			margin-bottom: 0.5em;

			&::before {
				content: "Q: ";
			}
		}

		&:last-child::before {
			content: "A: ";
		}
	}
}