:root {
	--startPos: 0;
}

:host {
	display: block;
	height: 85vh;
	overflow: hidden;
	background-image: url("../../../../../style/images/dirt_block_dark.png");
	background-size: 48px;
	animation: parallax_scroll 5s linear infinite;
	box-shadow: inset 0 0 100px black;
}

.padded {
	padding: 14px 0;
}

.space {
	margin-left: 80px;
}

.text-container {
	position: relative;
	animation: credits_scroll linear infinite;
	margin: auto;
	max-width: 548px;
}

.section-header {
	text-align: center;
	margin-bottom: 42px;
	line-height: 3em;

	&:not(:first-of-type) {
		margin-top: 116px;
	}

	&::before,
	&::after {
		content: "============";
		display: block;
	}
}

.section-content {
	.title:not(:first-of-type) {
		margin-top: 48px;
	}
}

@keyframes parallax_scroll {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 0 -3em;
	}
}

@keyframes credits_scroll {
	0% {
		transform: translateY(var(--startPos));
	}

	100% {
		transform: translateY(-100%);
	}
}