<tbx-sub-section>
	<h2>Installing during world creation (Minecraft v1.16+)</h2>
	<ol>
		<li>
			<div>On the main menu go to <u>Singleplayer</u> -> <u>Create New World</u></div>
			<img src="resources/images/instructions/datapack/1.png">
			<img src="resources/images/instructions/datapack/2.png">
		</li>
		<li>
			<div>Go into the <u>Data Packs</u> menu</div>
			<img src="resources/images/instructions/datapack/3.png">
		</li>
		<li>
			<div>Drag and drop the downloaded data pack into Minecraft</div>
			<img src="resources/images/instructions/datapack/4a.png">
			<div>Alternatively, you can click on "Open pack folder" and copy the file into the opened folder</div>
			<img src="resources/images/instructions/datapack/4b1.png">
			<img src="resources/images/instructions/datapack/4b2.png">
		</li>
		<li>
			<div>Confirm that you want to import the data pack</div>
			<img src="resources/images/instructions/datapack/5.png">
		</li>
		<li>
			<div>Click on the icon of the data pack to move it from the <u>Available</u> list to the <u>Selected</u> list</div>
			<img src="resources/images/instructions/datapack/6.png">
		</li>
		<li>
			<div>Click Done</div>
			<img src="resources/images/instructions/datapack/7.png">
		</li>
	</ol>
</tbx-sub-section>
<tbx-sub-section>
	<h2>Installing into an existing Minecraft world</h2>
	<ol>
		<li>Go into your '.minecraft' directory. (Click <a href="https://help.minecraft.net/hc/en-us/articles/4409159214605-Managing-Data-and-Game-Storage-in-Minecraft-Java-Edition#h_01FGA90Z06DE00GT8E81SWX9SE">here</a> for help)</li>
		<li>Go into 'saves' and then into the world's folder, where you want the drops to be randomized.</li>
		<li>Go into 'datapacks' and place the generated .zip file in this folder.</li>
		<li>Load the world in Minecraft</li>
	</ol>
</tbx-sub-section>
<tbx-sub-section>
	If you need additional help, you can always ask on my <a href="https://fasguy.net/discord" target="_blank">Discord Server</a>.
</tbx-sub-section>