<tbx-sub-section>
	<h2>Installing during world creation (Minecraft v1.16+)</h2>
	<ol>
		<li>On the main menu go to <u>Singleplayer</u> -> <u>Create New World</u></li>
		<li>Go into the <u>Data Packs</u> menu</li>
		<li>Drag and drop the downloaded data pack into Minecraft</li>
		<li>Confirm that you want to import the data pack</li>
		<li>Click on the icon of the data pack to move it from the <u>Available</u> list to the <u>Selected</u> list</li>
		<li>Click Done</li>
		<li>Generate the world</li>
	</ol>
</tbx-sub-section>
<tbx-sub-section>
	<h2>Installing into an existing Minecraft world</h2>
	<ol>
		<li>Go into your '.minecraft' directory. (Click <a href="https://help.minecraft.net/hc/en-us/articles/4409159214605-Managing-Data-and-Game-Storage-in-Minecraft-Java-Edition#h_01FGA90Z06DE00GT8E81SWX9SE">here</a> for help)</li>
		<li>Go into 'saves' and then into the world's folder, where you want the drops to be randomized.</li>
		<li>Go into 'datapacks' and place the generated .zip file in this folder.</li>
		<li>Load the world in Minecraft</li>
	</ol>
</tbx-sub-section>
<tbx-sub-section>
	If you need additional help, you can always ask on my <a href="https://fasguy.net/discord" target="_blank">Discord Server</a>.
</tbx-sub-section>