<div class="isometric-container">
	<div class="scene">
		<div class="shape chest">
			<div class="face ft"></div>
			<div class="face lt"></div>
			<div class="face tp"></div>
		</div>
		<div class="shape chest-knob">
			<div class="face ft"></div>
			<div class="face lt"></div>
			<div class="face tp"></div>
		</div>
		<div class="shape exclamation-point">
			<div class="face ft"></div>
			<div class="face lt"></div>
			<div class="face tp"></div>
		</div>
		<div class="shape exclamation-bar">
			<div class="face ft"></div>
			<div class="face lt"></div>
			<div class="face tp"></div>
		</div>
	</div>
</div>