<tbx-sub-section class="child-spacing">
	<p>Welcome to Fasguy's Minecraft Toolbox</p>
	<tbx-splash></tbx-splash>
	The toolbox provides multiple different tools to aid in or alter your Minecraft game experience
</tbx-sub-section>
<tbx-sub-section header="Available Tools">
	<ul>
		<li>
			Loot-Table Randomizer
			<div>
				The Loot-Table Randomizer randomly switches the loot-tables (i.e. mob drops, block drops, etc.)
				around.
			</div>
		</li>
		<li>
			Crafting-Recipe Randomizer
			<div>
				The Crafting-Recipe Randomizer randomly switches the crafting recipes of all items around.
			</div>
		</li>
	</ul>
</tbx-sub-section>
<tbx-sub-section header="Other resources you should check out">
	<ul>
		<li>
			<a href="https://vanillatweaks.net/" target="_blank">Vanilla Tweaks</a>
			<div>
				Vanilla Tweaks provides multiple data and resource packs that alter the game experience in subtle ways.
			</div>
		</li>
		<li>
			<a href="https://www.pixelsperfect.net/" target="_blank">Pixel Perfect</a>
			<div>
				Pixel Perfect provides gameplay-altering Minecraft Bedrock Edition Add-Ons.
			</div>
		</li>
	</ul>
</tbx-sub-section>