@import "style/font/minecraft.scss";

* {
	margin: 0;
	padding: 0;
	color: white;
	text-shadow: 2px 2px #3f3f3f;
	font-family: "Minecraft";
	font-size: 16px;
	font-weight: 400;
}

html,
body {
	min-height: 100vh;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

body {
	background: url("style/images/stone.png") repeat 0 0 / 48px 48px;
}

input {
	box-sizing: border-box;
}

a,
u {
	text-decoration: none;
	border-bottom: 2px solid white;
}

.loading-logo {
	width: 100%;
	max-height: 218px;
	margin-bottom: 55px;
	background-size: contain;
	background-image: url("style/images/logo.png");
	background-repeat: no-repeat;
	background-position: center;
	position: relative;

	&::before {
		content: '';
		display: block;
		width: 100%;
		padding-bottom: calc(100% / 2.68);
		visibility: hidden;
	}
}

.loading-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
}