@font-face {
	font-family: "Minecraft";
	font-style: normal;
	font-weight: 400;
	src: url("minecraft.woff2") format("woff2"),
		url("minecraft.woff") format("woff"),
		url("minecraft.ttf") format("truetype");
}

.no-shadow {
	text-shadow: none;
}

.mc-dark-red {
	color: #a90000;

	&.shadow {
		text-shadow: 2px 2px #2a0000;
	}
}

.mc-red {
	color: #fe5555;

	&.shadow {
		text-shadow: 2px 2px #3f1515;
	}
}

.mc-gold {
	color: #feaa00;

	&.shadow {
		text-shadow: 2px 2px #3f2a00;
	}
}

.mc-yellow {
	color: #fefe55;

	&.shadow {
		text-shadow: 2px 2px #3f3f15;
	}
}

.mc-dark-green {
	color: #0a0;

	&.shadow {
		text-shadow: 2px 2px #002a00;
	}
}

.mc-green {
	color: #55fe55;

	&.shadow {
		text-shadow: 2px 2px #153f15;
	}
}

.mc-aqua {
	color: #55fefe;

	&.shadow {
		text-shadow: 2px 2px #153f3f;
	}
}

.mc-dark-aqua {
	color: #0aa;

	&.shadow {
		text-shadow: 2px 2px #002a2a;
	}
}

.mc-dark-blue {
	color: #00a;

	&.shadow {
		text-shadow: 2px 2px #00002a;
	}
}

.mc-blue {
	color: #5555fe;

	&.shadow {
		text-shadow: 2px 2px #15153f;
	}
}

.mc-light-purple {
	color: #fe55fe;

	&.shadow {
		text-shadow: 2px 2px #3f153f;
	}
}

.mc-dark-purple {
	color: #a900a9;

	&.shadow {
		text-shadow: 2px 2px #2a002a;
	}
}

.mc-white {
	color: #fefefe;

	&.shadow {
		text-shadow: 2px 2px #3f3f3f;
	}
}

.mc-grey {
	color: #aaa;

	&.shadow {
		text-shadow: 2px 2px #2a2a2a;
	}
}

.mc-dark-grey {
	color: #555;

	&.shadow {
		text-shadow: 2px 2px #151515;
	}
}

.mc-black {
	color: #000;

	&.shadow {
		text-shadow: 2px 2px #000;
	}
}