<ng-template ngFor let-entryGroup [ngForOf]="entries">
	<div #entryGroupRef class="entry-group">
		<div class="entry-group-header">
			<span class="entry-toggler" (click)="toggleEntries(entriesRef)">></span>
			<label class="checkbox">
				<input #groupCheckboxRef type="checkbox" (change)="changeEntireGroup(entryGroupRef, groupCheckboxRef)">
				<span></span>
				{{entryGroup.title}}
			</label>
		</div>

		<div class="entries" #entriesRef>
			<div class="entry" *ngFor="let entry of entryGroup.entries">
				<label tabindex="0" class="checkbox">
					<input type="checkbox" name="selection" value="{{entry.value}}" [checked]="entry.checked" (change)="groupItemChanged(entryGroupRef, groupCheckboxRef)">
					<span></span>
					{{entry.text}}
				</label>
			</div>
		</div>
	</div>

	<!-- Please check the corresponding comment in the TS file. -->
	<span *ngIf="pushGroup(entryGroupRef, groupCheckboxRef)"></span>
</ng-template>