:host {
	display: block;
}

.entry-group {
	margin-bottom: 1em;

	&:last-child {
		margin-bottom: 0;
	}
}

.checkbox {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;

	&>input {
		display: none;

		&+span {
			display: inline-block;
			min-width: 18px;
			height: 18px;
			margin-right: 5px;

			border: 1px solid #000;
			background-image: url("../../../../style/sprites/checkbox.png");
		}

		&:checked+span {
			background-position: 0 -18px;
		}

		&:indeterminate+span {
			background-position: 0 -36px;
		}
	}

	&:hover>input+span {
		border-color: #fff;
	}
}

.entry-group-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 5px;
	margin-top: 0;
	padding-top: 5px;
	position: sticky;
	top: 0;

	&>.entry-toggler {
		min-width: 18px;
		cursor: pointer;
	}
}

.display-container {
	position: relative;
}

.entries {
	overflow-y: auto;
	max-height: 455px;
	margin-left: 2em;
	transition: max-height 1s cubic-bezier(0, 1, 0, 1);

	&+.state-toggler {
		cursor: pointer;
		display: block;
		border: none;
		background: transparent;
		width: 100%;

		&::before {
			content: "⯅ Collapse list";
			text-shadow:
				0px 0px 8px #000,
				0px 0px 8px #000;
		}
	}

	&.collapsed {
		max-height: 50px;
		overflow-y: hidden;
		-webkit-mask-image: linear-gradient(to bottom, black, transparent);
		mask-image: linear-gradient(to bottom, black, transparent);

		//This sadly doesn't limit keyboard interactivity :/
		pointer-events: none;
		user-select: none;

		&+.state-toggler {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;

			&::before {
				content: "⯆ Expand list";
			}
		}
	}
}

.entry {
	margin: 5px;
}