:host {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 5px;
	background:
		linear-gradient(#000000B0, transparent),
		url("../../../../style/images/spruce_planks.png") repeat 0 0 / 48px 48px;

	&>div {
		margin: 5px 0;
	}
}

a {
	margin: 0 5px;
	border-bottom: 2px solid white;
}

.is-active {
	color: #f3ed25;
	border-color: #f3ed25;
}