<p>Fasguy's Minecraft Toolbox v{{version}}</p>
<div class="overflow-helper">
	<div class="overflow-container" #overflowContainer (wheel)="onWheel($event, overflowContainer)">
		<div class="tool-selection-container">
			<div class="outer-border" *ngFor="let route of routes | filter: filterTitledRoutes">
				<a class="route" [routerLink]="route.path" routerLinkActive="is-active"><span class="route-title">{{route!.data!["title"]}}</span></a>
			</div>
		</div>
	</div>
	<div class="controls">
		<button class="scroll left" holdEvent (hold)="scrollAlong(-50)"></button>
		<button class="scroll right" holdEvent (hold)="scrollAlong(50)"></button>
	</div>
</div>