.tooltip {
	visibility: hidden;
	width: calc(100% - 18px);
	background-clip: padding-box;
	background-color: #100110;
	text-align: left;
	padding: 1px 5px 5px;
	border: 4px solid #100110;
	border-image-source: url("../../../../style/sprites/tooltip.png");
	border-image-repeat: stretch;
	border-image-slice: 2;
	position: absolute;
	z-index: 999;
	top: 100%;
	left: 0;
}